<!DOCTYPE html>
<html lang-"en">
<head>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>About Page</title>
    <center>
      <br>
      <a href="{{url_for('index')}}"><h5>Home</h5></a>
      <br>
      <a href="{{url_for('test')}}"><h1>Run Unit Tests</h1></a>
      <h2>Group Members</h2>
    </center>

</head>
<body>

    <center>
        <h3> Daniel Greer</h3>
        <img src="/static/pictures/Danny.jpg" width = 192 height = 256 alt="Danny">
        <h4>Bio</h4>

        <p>Danny is a senior Sustainability Studies student pursuing the Elements<br>
           of Computing Certificate and Energy Management Certificate. He is <br>
           the president of the student organization Longhorn Racing and works<br> 
           in the UT Energy Institute on Campus.</p>
        <h5>Major responsibilites: Back End, GCP</h5>
        <h5>Commits: 26</h5>
        <h5>Issues created: 13</h5>
        <h5>Unit Tests: 0</h5>
        <br/>
        
        <h3>Christopher Kreke</h3>
        <img src="/static/pictures/Christopher.jpg" width = 192 height = 280 alt="Christopher">
        <h4>Bio</h4>
        <p>Christopher is pursuing a B.B.A. in Finance at The University <br>
            of Texas at Austin and will graduate in the spring of 2019. <br>
            Chrisotpher is also minoring in MIS and pursuing the Elements <br>
            of Computing certificate. Outside of class, he loves playing and <br>
            watching sports and is an avid Borussia Dortmund fan.</p>
        <h5>Major responsibilites: Front End</h5>
        <h5>Commits: 49</h5>
        <h5>Issues created: 21</h5>
        <h5>Unit Tests: 0</h5>
        <br/>
        
        <h3>Joshua Kelley</h3>
        <img src="/static/pictures/Joshua.jpg" width = 192 height = 256 alt="Joshua">

        <h4>Bio</h4>
        <p>Joshua is pursuing a B.S. in Medical Lab Science at The University<br>
            of Texas at Austin with an Elements of Computing certificate. <br>
            He plans on graduating May 2020. Outside of class, he likes <br>
            to produce music, play video games, and learning how to build <br>
            mobile apps.</p>
        <h5>Major responsibilites: Back End, GCP</h5>
        <h5>Commits: 7</h5>
        <h5>Issues created: 0</h5>
        <h5>Unit Tests: 8</h5>
        <br/>
        
        <h3>Nick Kuzmich</h3>
        <img src="/static/pictures/Nick.jpg" width = 192 height = 256 alt="Nick">

        <h4>Bio</h4>
        <p>Nick is pursuing a B.S. in Psychology with the Elements <br />
             of Computing certificate at UT Austin. His main interest <br />
             related to computer science is the use of data analytics <br />
             to aid research in treatment development. He will be <br />
             graduating in the Fall of 2019.</p>
        <h5>Major responsibilites: Back End</h5>
        <h5>Commits: 8</h5>
        <h5>Issues created: 3</h5>
        <h5>Unit Tests: 0</h5>
        <br/>
        
        <h3>Henry Nguyen</h3>
        <img src="/static/pictures/Henry.jpg" width = 192 height = 256 alt="Henry">

        <h4>Bio</h4>
        <p>Henry is currently pursuing a B.A. in Economics at UT Austin <br>
          and plans to graduate in May 2019. In addition to completing the <br>
          Elements of Computer Certificate, he has completed the Business <br>
          Foundations Certificate. He hopes to pursue a career within the <br>
          field of Computer Science specificaly Data Analytics. His interests <br>
          outside of school are sports, video games, and music.</p>
        <h5>Major responsibilites: Models</h5>
        <h5>Commits: 31</h5>
        <h5>Issues created: 10</h5>
        <h5>Unit Tests: 0</h5>
        <br/>
    
        <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
        <h2>Stats</h2>
        <h5>Total Number of Commits: 121</h5>
        <h5>Total Number of Issues: 47</h5>
        <h5>Total Number of Unit Tests: 8</h5>
        <a href="https://gitlab.com/dngreer46/idb1/issues">
            <h5>Gitlab Issue Tracker</h5>
        </a>
        <a href="https://gitlab.com/dngreer46/idb1">
            <h5>Gitlab Repo link</h5>
        </a>
        
        <a href="https://gitlab.com/dngreer46/idb1/wikis/home">
            <h5>Gitlab Wiki</h5>
        </a>
        <a href="https://speakerdeck.com/cak2823">
        	<h5>Speaker Deck</h5>
        </a>
        <br/>
        
        <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
        <h2>Data</h2>
        <a href="http://www.cs.utexas.edu/~fares/cs329ef18/CS%20373_files/tutorials/books.json">
            <h5>Books Data Source</h5>
        </a>
        <br/>
        <h2>Tools</h2>
        <h5>Flask, GCP, Bootstrap, Git, GitLab, PostreSQL, Speaker Deck and Slack</h5>
    </center>
</body>
</html>
