<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <!-- MDBootstrap Datatables  -->
  <link href="/static/css/addons/datatables.min.css" rel="stylesheet">

  <style>
    th {
      text-align: center;
    }
  </style>

  <meta charset="UTF-8">
  <title>Authors</title>
  <center>
    <br>
    <a href="{{url_for('index')}}"><h5>Home</h5></a>
    <br>
    <h1>Authors</h1>
  </center>
</head>
<body>
  <table id="Authors" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th width="200">Name
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
        <th class="th-sm">Birthday
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
        <th width="250">Nationality
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
        <th class="th-sm">Education
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
        <th class="th-sm">Alma Mater
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for i in authors %}
        <tr>
          <td><a href="/author/{{i.name}}">{{i.name}}</a></td>
          <td>{{i.born}}</td>
          <td>{{i.nationality}}</td>
          <td>{{i.education}}</td>
          <td>{{i.almaMater}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/static/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/static/js/mdb.min.js"></script>
  <!-- MDBootstrap Datatables  -->
  <script type="text/javascript" src="/static/js/addons/datatables.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#Authors').DataTable();
      $('.dataTables_length').addClass('bs-select');
    });
  </script>
</body>
</html>
