<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Booststrap -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <style>
    th {
      text-align: center;
    }
  </style>

  <meta charset="UTF-8">

  <title>{{author_name}}</title>
  <center>
    <br>
    <a href="{{url_for('index')}}"><h5>Home</h5></a>
    <h1></h1>
  </center>
</head>

<body>
<center>
  <h1>{{author_name}}</h1>
  <img src = "{{image}}">

  <h2>Information: </h2>
  <p><b>Name: </b>{{author_name}}</p>
  <p><b>Date of Birth: </b>{{born}}</p>
  <p><b>About: </b>{{description}}</p>
  <p><b>Education: </b>{{education}}</p>
  <p><b>Nationality: </b>{{nationality}}</p>
  <p><b>Alma Mater: </b>{{almaMater}}</p>
  <p><a href = "{{wiki}}"><b>Wiki</b></a></p>

  <br>

  <p><b>Books Written By {{author_name}}:</b></p>
  {% for i in titles %}
  <p><a href =  "/book/{{i}}">{{i}}</a></p>
  {% endfor %}

  <br>
  <br>

  <p><b>Publishers associated with</b></p>

  {% for i in publishers %}
  <p><a href =  "/publisher/{{i}}">{{i}}</a></p>
  {% endfor %}
  <br>

</center>
</body>

</html>
