<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <!-- MDBootstrap Datatables  -->
  <link href="/static/css/addons/datatables.min.css" rel="stylesheet">

  <style>
    th {
      text-align: center;
    }
  </style>

  <meta charset="UTF-8">
  <title>Books</title>
  <center>
    <br>
    <a href="{{url_for('index')}}"><h5>Home</h5></a>
    <br>
    <h1>Books</h1>
  </center>
</head>
<body>
  <table id="Books" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Title
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
        <th class="th-sm">ISBN
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
        <th class="th-sm">Publication Date
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
        <th class="th-sm">Author
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
        <th class="th-sm">Publisher
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for i in books %}
        <tr>
          <td><a href = "/book/{{i.title}}">&nbsp{{i.title}}&nbsp</a></td>
          <td>{{i.isbn}}</td>
          <td>{{i.publication_date}}</td>
          <td><a href = "/author/{{i.author}}">&nbsp{{i.author}}&nbsp</a></td>
          <td><a href = "/publisher/{{i.publisher}}">&nbsp{{i.publisher}}&nbsp</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/static/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/static/js/mdb.min.js"></script>
  <!-- MDBootstrap Datatables  -->
  <script type="text/javascript" src="/static/js/addons/datatables.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#Books').DataTable();
      $('.dataTables_length').addClass('bs-select');
    });
  </script>
</body>
</html>
