<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Booststrap -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <style>
    th {
      text-align: center;
    }
  </style>

  <meta charset="UTF-8">

  <title>{{book_title}}</title>
  <center>
    <br>
    <a href="{{url_for('index')}}"><h5>Home</h5></a>
    <h1></h1>
  </center>
</head>

<body>
<center>
  <h1>{{book_title}}</h1>
  <img src = "{{image}}">

  <h2>Information: </h2>
  <p><b>Title: </b>{{book_title}}</p>
  {% for i in author %}
    <p><b>Author: </b><a href = "/author/{{i}}">{{i}}</a></p>
  {% endfor %}
  <p><b>Description: </b>{{description}}</p>
  <p><b>ISBN: </b>{{isbn}}</p>
  <p><b>Publication Date: </b>{{publication_date}}</p>

  <p><b>Publisher: </b><a href = "/publisher/{{publisher}}">{{publisher}}</a></p>


  <br>

</center>
</body>

</html>
