<!DOCTYPE html>
<html lang-"en">

<head>

  <!-- Bootstrap -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <meta charset="UTF-8">
  <title>Software Engineering Project 3</title>

  <style>
    .page-background {
      background: url("/static/pictures/splash-background.jpg") no-repeat center center;
      background-size: cover;
      height: 100vh;
    }

    .central-container {
      position: relative;
      top: 35%;
      transform: translateY(-35%);
      background: rgba(255, 255, 255, 1);
      padding: 2rem;
    }
  </style>

</head>

<body>
  <div class="page-background">
    <div class="central-container text-center">
      <h1>Here is our website!</h1>
      <br>
      <a href="http://www.cs.utexas.edu/~fares/cs329ef18/CS%20373_files/projects/IDB3.html"><h3>Project Website</h3></a>
      <br>
      <a href="{{url_for('About')}}"><h3>About</h3></a>
      <br>
      <a href="{{url_for('Books')}}"><h3>Books</h3></a>
      <br>
      <a href="{{url_for('Authors')}}"><h3>Authors</h3></a>
      <br>
      <a href="{{url_for('Publishers')}}"><h3>Publishers</h3></a>

    </div>
  </div>
</body>

</html>
