<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Booststrap -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <style>
    th {
      text-align: center;
    }
  </style>

  <meta charset="UTF-8">

  <title>{{publisher_name}}</title>
  <center>
    <br>
    <a href="{{url_for('index')}}"><h5>Home</h5></a>
    <h1></h1>
  </center>
</head>

<body>
<center>
  <h1>{{publisher_name}}</h1>
  <img src = "{{image}}">

  <h2>Information: </h2>
  <p><b>Name: </b>{{publisher_name}}</p>
  <p><b>Founded: </b>{{founded}}</p>
  <p><b>Owner: </b>{{owner}}</p>
  <p><b>Location: </b>{{location}}</p>
  <p><b>About: </b>{{description}}</p>
  <p><a href = "{{website}}"><b>Publisher Website</b></a></p>
  <p><a href = "{{wiki}}"><b>Wiki</b></a></p>

  <br>

  <p><b>Books Published By {{publisher_name}}:</b></p>
  {% for i in titles %}
  <p><a href =  "/book/{{i}}">{{i}}</a></p>
  {% endfor %}

  <br>
  <br>

  <p><b>Authors associated with</b></p>
  {% for i in authors %}
  <p><a href =  "/author/{{i}}">{{i}}</a></p>
  {% endfor %}
  <br>
</center>
</body>

</html>
