<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <!-- MDBootstrap Datatables  -->
  <link href="/static/css/addons/datatables.min.css" rel="stylesheet">

  <style>
    th {
      text-align: center;
    }
  </style>

  <meta charset="UTF-8">
  <title>Publishers</title>
  <center>
    <br>
    <a href="{{url_for('index')}}"><h5>Home</h5></a>
    <br>
    <h1>Publishers</h1>
  </center>
</head>
<body>
  <table id="Publishers" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Name
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
        <th class="th-sm">Parent
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
        <th class="th-sm">Owner
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
        <th class="th-sm">Website
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
        <th class="th-sm">Wiki
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for i in publishers %}
         <tr>
            <td><a href="/publisher/{{i.name}}">{{i.name}}</a></td>
            <td>{{i.parent}}</td>
            <td>{{i.owner}}</td>
            <td><a href='{{i.website}}'>{{i.website}}</a></td>
            <td><a href="{{i.wiki}}">{{i.wiki}}<a/></td>
         </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/static/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/static/js/mdb.min.js"></script>
  <!-- MDBootstrap Datatables  -->
  <script type="text/javascript" src="/static/js/addons/datatables.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#Publishers').DataTable();
      $('.dataTables_length').addClass('bs-select');
    });
  </script>
</body>
</html>
